


    .tabelaSmall{
        font-size: smaller;
    
    };

    .placeholderBorder{
        background-color: black;
    };

@media (max-width:480px) {

    /* .chart-area{
        width: 1200px;
        margin: 0 auto;
        height: 350px;
        padding: 10px;
        } */


    .fa-bars{
        color: rgb(247, 248, 249);
        background-color: aliceblue;

    }

}