
    .tabelaSmall{
        font-size: smaller;
    
    };

    .placeholderBorder{
        background-color: black;
    };

@media (max-width:480px) {
    

    .fa-bars{
        color: rgb(247, 248, 249);
        background-color: aliceblue;

    }

}